<div class="header">
    
    <div id="headerTitle" class="headerTitle">
        <h1>Pokédex</h1>
        <img src="./img/pikachuheader.png" class="pikachuheader">
        
    </div>
    
    <div id="searchPokemonContainer" class="searchPokemonContainer">
        <input onkeyup="searchPokemon()" id="searchPokemon" class="searchPokemon" placeholder="Search Pokémon..." type="text">
        <button onclick="searchPokemon()" class="searchPokemonButton"> 
        <img height="30px" src="./img/search.svg"></button>
    </div>
    <div class="placeholder"></div>
    
</div>


